################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.vs
bin
obj
*.lnk
/Tests/GT4.UI.App.DeviceTests/test-results/
/coverage/

# Visual Studio per-user settings
*.user
