################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.vs
bin
obj
*.lnk
/buildnumber.txt
/Core/Gedcom/unsupported-tags.md
/Tests/GT4.UI.App.DeviceTests/test-results/
/coverage/
